*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;

}

body{
    background-color: rgb(235, 235, 235);
}

.navbelt{
    /* border: 2px; */
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
}

.navLogo{
    height: 60px;
    width: 120px;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 120px;
}

.border{
    border: 1px solid transparent;

}

.border:hover{
    border: 1px solid white;
}

.nav-address{
    height: 60px;
    /* width: 120px; */
    color: white ;
    display: flex;
    align-items: center;
}



.ind{
    color: #ffffff;
    font-size: 1rem;
}

.del{
    color: #CCCCCC;
    font-size: 0.8rem;
}
.loc-logo{
    height: 18px;
    width: 18px;
    position: relative;
    top: 5px;
    /* align-self: last baseline; */
}

.category{
    background-color: #ffffff;
    height: 35px;
    align-items: center;
    display: flex;

}

.nav-search{
    
    
    height: 40px;
    width: 620px;
    display: flex;
    align-items: center;
    background-color: pink;
    border-radius: 4px;
    border-radius: 5px;
    
}

.drp{
    height: 2.5rem;
    background-color: #f3f3f3;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
    border: none;
    
}

.search-text{
    height: 2.5rem;
    width: 535px;
    background-color: #ffffff;
    /* border: #0f1111; */
    border-left: 1px;
    border-color: #1a0b4b45;
    border-style: solid;
}

/* .search-icon{
    width: 1px;
} */

.Search-logo{
    position: relative;
    left: 13px;
}